.pagination {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    //   outline: 1px solid red;
}

.page-item,
.break {
    padding: 10px;

    &:hover {
        cursor: pointer;
        color: rgb(151, 206, 76);
    }
}

.active {
    color: rgb(151, 206, 76);
    font-weight: bold;
}