.filter {
        margin-right: 20px;

        &__parameters {
                outline: 3px solid rgb(151, 206, 76);
                border-radius: 5px;
                padding: 1px 25px 15px 25px;

        }

        &__paramter-name {
                margin-top: 10px;

                @media(max-width: 1000px) {
                        margin-bottom: 5px;
                        padding: 1px 10px 10px 10px;
                }
        }

        &__parameter-list {
                list-style: none;
                padding: 0;
                margin: 0;
        }

        &__parameter-item {
                cursor: pointer;

                &:hover {
                        color: rgb(151, 206, 76);
                }
        }

        &__parameter-item--active {
                font-weight: bold;
                color: rgb(151, 206, 76);
        }

        &__reset {
                margin-top: 20px;
        }
}