@font-face {
  font-family: 'Rick';
  src: url(./fonts/get_schwifty.ttf);
}

.main {
  max-width: 90%;
  margin: 20px auto;

  @media (max-width: 600px) {
    max-width: 95%;
  }


  &__title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    font-family: "Rick";
    color: rgb(151, 206, 76);
    // color: #62a4ab;
    font-weight: bold;

    @media (max-width: 700px) {
      font-size: 30px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  button,
  input[type=submit] {
    outline: none;
    border: none;
    background-color: rgb(151, 206, 76);
    padding: 10px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: rgb(97, 148, 26);
    }
  }
}